
.ptest_section
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
  padding-bottom: 40px;
    .row
    {
        width: 100%;
    }
    .title
    {

        font-weight: 700;
        margin: 20px auto;
        padding: 20px;

    }
    div[class^="col"]
    {
        padding: 0;
    }
}





.pcard
{   
    position: relative;
    width: 70%;
    padding-top: 40%;
    min-width: 300px;
    min-height: 170px;
    max-height: 95vh;
    max-width: 95vw;

    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 5px 20px rgba(0,0,0,.7);

    
}



.pimg
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    img{
        height: 100%;
        width: 100%;
     
       
    }
    
}
.pcontent
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: transparent;
    color: white;
    padding: 12px;
    transition: .4s;
    background-color: rgba(0,0,0,.3);
    outline: transparent solid 2px;
        outline-offset: 0px;
        transition: .4s;

        .ptitle
        {
          
            text-shadow: 1px 1px 3px black, -1px 1px 2px black ;
            transition: .4s;
            font-size: 170%;
        }
        .pdesc
        {
            display: none;   
            transition: .4s;
            padding: 10px;
            text-align: center;
            font-size: 80%;
        }
  
}

@media only screen and (min-width: 1230px)
{
    .ptitle{
        transform: translateY(-10px);
    }
    .pcard{
    
        
        &::after
        {
        
                content: "";
                position: absolute;
                  top: -50%;
                left: -60%;
                width: 20%;
                height: 200%;
                opacity: 0;
                transform: rotate(30deg);
                transition: all .4s;
                background: rgba(255, 255, 255, 0.13);
                background: linear-gradient(
                  to right,
                  rgba(255, 255, 255, 0.13) 0%,
                  rgba(255, 255, 255, 0.13) 77%,
                  rgba(255, 255, 255, 0.5) 92%,
                  rgba(255, 255, 255, 0.0) 100%
                );
             
        }
    
        &:hover{
            &::after{
                opacity: 1;
                left: 130%;
                transition-property: left, top, opacity;
                transition-duration: 0.7s, 0.7s, 0.15s;
                transition-timing-function: ease;
            }
            img{
                filter: blur(2px);
            transition: .4s;
            
        }
        .pcontent
        {
        
            outline: #fff solid 2px; outline-offset: -10px;
            background-color: rgba(0,0,0,.75);
            justify-content: space-evenly;
            transition: .4s;
        }
        .ptitle
        {
            
            transition: .4s;
        }
        .pdesc{
            display: block;
            opacity: 1;
            transition: .4s ;
        }
        }
        .pdesc{
            opacity: 0;
        
        }
        
    }
   
}