.section
{
    background-color: white !important;
  
  
}

.abt_s .divider
{
    border-bottom: 2px solid black;
    width: 7%;
    margin-bottom: 20px;
    margin-top: -10px;
}

.title_about
{
    margin-bottom: 1rem;
}

.description_about
{
    margin: 1rem auto;
}

