.profile
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.p_s
{
    padding-top: 30px;
  
}

.backbtn
{
    position: absolute;
    left: 10px;
    top: 10px;

}