.profile
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.p_s
{
    border-bottom: 2px solid black;
}
.p_img
{   
    height: 399.1px;
    width: 326.3px;
    max-height: 90vh;
    max-width: 90vw;
    margin: 20px auto;
   
    img
    {
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
}
.backbtn
{
    position: absolute;
    left: 10px;
    top: 10px;

}