/*
.footer_section
{
    bottom: 0;
    background-color: black;
    color: gray;
    background-attachment: fixed;
    padding: 60px;
    
}
.cb
{
    margin-bottom: 10px;
}
.cd,.cf
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
@media only screen and (max-width: 400)
{
    .contact_details
    {
        text-align: center;
    }
    .flinks
    {
        text-align: center;
    }
}

*/