.footer_section
{
    bottom: 0;
    background-color: black;
    color: gray;
    background-attachment: fixed;
    padding: 60px;
    
}

.up
{
    text-decoration: none;
    color: gray;
}
.up-div
{
    text-align: right;
}