
.footer_section
{
    bottom: 0;
    background-color: black;
    color: gray;
    background-attachment: fixed;
    padding: 50px;
    color: white;

    a
    {
      
        padding: 0;
        text-shadow: none;
        font-weight: normal;
    }
    
}
.fas
{
    margin-right: 5px;
}
.contact_details
{
    margin-top: 0;
    padding: 0;
}
.cb,.cd
{
    margin-bottom: 20px;
}
.cd,.cf
{
    display: flex;
    justify-content: center;

}
@media only screen and (max-width: 400)
{
    .contact_details
    {
        text-align: center;
    }
    .flinks
    {
        text-align: center;
    }
}

