
.section
{
    padding-top: 85px;
    padding-bottom: 60px;
    background-color: rgba(228, 222, 222, 0.945);
}
.parts
{
    display: flex;
}

.img-part
{
    max-width: 50%;
}
.content-part
{
    font-size: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 50%;
    background-color: #204379;
}

@media only screen and (max-width: 600px) {
    .img-part{
        display: none;
    }
    .content-part{
        max-width: 100%;
    }
  }




img{
    height: 100%;
    width: 100%;
    
}